# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [1]:
import jovian

In [3]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

In [1]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\bjpark\anaconda3\lib\site-packages (1.3.4)
Collecting pandas
  Downloading pandas-1.4.0-cp39-cp39-win_amd64.whl (10.5 MB)
Requirement already satisfied: pytz>=2020.1 in c:\users\bjpark\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\bjpark\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bjpark\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bjpark\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4
Successfully installed pandas-1.4.0

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [8]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1ac5e323f10>)

Let's load the data from the CSV file into a Pandas data frame.

In [2]:
countries_df = pd.read_csv('countries.csv')

In [3]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [4]:
len(countries_df)

210

In [7]:
countries_df.shape

(210, 6)

In [15]:
num_countries = 210

In [16]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [17]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [11]:
continents = countries_df.continent.unique()

In [12]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [22]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q3: What is the total population of all the countries listed in this dataset?**

In [15]:
total_population = countries_df.population.sum()

In [16]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [25]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [18]:
countries_df.columns

Index(['location', 'continent', 'population', 'life_expectancy',
       'hospital_beds_per_thousand', 'gdp_per_capita'],
      dtype='object')

In [19]:
avg_life_expectancy = (countries_df.population * countries_df.life_expectancy / total_population).sum()

In [20]:
print(f'The weighted life expectancy is {avg_life_expectancy}.')

The weighted life expectancy is 72.72165193409664.

In [31]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [26]:
most_populous_df = countries_df.sort_values('population', ascending = False).head(10)
most_populous_df['population'] = most_populous_df['population'].astype('int')

In [27]:
most_populous_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
41,China,Asia,1439323774,76.91,4.34,15308.712
90,India,Asia,1380004385,69.66,0.53,6426.674
199,United States,North America,331002647,78.86,2.77,54225.446
91,Indonesia,Asia,273523621,71.72,1.04,11188.744
145,Pakistan,Asia,220892331,67.27,0.60,5034.708
27,Brazil,South America,212559409,75.88,2.20,14103.452
141,Nigeria,Africa,206139587,54.69,NaN,5338.454
15,Bangladesh,Asia,164689383,72.59,0.80,3523.984
157,Russia,Europe,145934460,72.58,8.05,24765.954
125,Mexico,North America,128932753,75.05,1.38,17336.469

In [44]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [28]:
countries_df['GDP'] = countries_df.population * countries_df.gdp_per_capita

In [29]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [53]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [30]:
lowest_gdp_df = countries_df[countries_df.population > 1e6].sort_values('gdp_per_capita').head(10)

In [31]:
lowest_gdp_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,GDP
38,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09
111,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.807359e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10
168,Sierra Leone,Africa,7976985.0,54.70,NaN,1390.300,1.109040e+10
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10
190,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10

In [61]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [34]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [35]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [65]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [90]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [94]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [92]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [96]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x1ac629a8730>)

In [97]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [102]:
with pd.option_context('display.max_rows', 220):
    display(covid_data_df)

                             location  total_cases  total_deaths  total_tests
0                         Afghanistan      38243.0        1409.0          NaN
1                             Albania       9728.0         296.0          NaN
2                             Algeria      45158.0        1525.0          NaN
3                             Andorra       1199.0          53.0          NaN
4                              Angola       2729.0         109.0          NaN
5                            Anguilla          3.0           0.0          NaN
6                 Antigua and Barbuda         94.0           3.0          NaN
7                           Argentina     428226.0        8971.0    1118923.0
8                             Armenia      44075.0         884.0          NaN
9                               Aruba       2211.0          12.0          NaN
10                          Australia      25923.0         663.0    6255797.0
11                            Austria      28183.0         734.0    1210568.0
12                         Azerbaijan      36732.0         538.0          NaN
13                            Bahamas       2337.0          47.0          NaN
14                            Bahrain      52440.0         190.0    1118837.0
15                         Bangladesh     317528.0        4351.0    1514126.0
16                           Barbados        176.0           7.0          NaN
17                            Belarus      72141.0         691.0    1534792.0
18                            Belgium      85817.0        9898.0    2281853.0
19                             Belize       1101.0          13.0          NaN
20                              Benin       2194.0          40.0          NaN
21                            Bermuda        172.0           9.0          NaN
22                             Bhutan        227.0           0.0          NaN
23                            Bolivia     117928.0        5203.0     238965.0
24    Bonaire Sint Eustatius and Saba         18.0           0.0          NaN
25             Bosnia and Herzegovina      20517.0         627.0          NaN
26                           Botswana       1724.0           6.0          NaN
27                             Brazil    3997865.0      123780.0    4797948.0
28             British Virgin Islands         47.0           1.0          NaN
29                             Brunei        144.0           3.0          NaN
30                           Bulgaria      16454.0         642.0     415797.0
31                       Burkina Faso       1378.0          55.0          NaN
32                            Burundi        448.0           1.0          NaN
33                           Cambodia        274.0           0.0          NaN
34                           Cameroon      19460.0         415.0          NaN
35                             Canada     129923.0        9135.0    5545473.0
36                         Cape Verde       4048.0          41.0          NaN
37                     Cayman Islands        205.0           1.0          NaN
38           Central African Republic       4712.0          62.0          NaN
39                               Chad       1017.0          77.0          NaN
40                              Chile     414739.0       11344.0    2458762.0
41                              China      89953.0        4727.0          NaN
42                           Colombia     633339.0       20348.0    2647702.0
43                            Comoros        427.0           7.0          NaN
44                              Congo       4628.0         102.0          NaN
45                         Costa Rica      43305.0         453.0     131623.0
46                      Cote d'Ivoire      18161.0         117.0     127804.0
47                            Croatia      10725.0         191.0     175346.0
48                               Cuba       4126.0          98.0     403181.0
49                            Curacao         68.0           1.0          NaN
50                             Cyprus       1495.0          21.0          NaN
51                     Czech Republic      25773.0         425.0     910872.0
52       Democratic Republic of Congo      10113.0         258.0          NaN
53                            Denmark      17195.0         626.0    2447911.0
54                           Djibouti       5387.0          60.0          NaN
55                           Dominica         20.0           0.0          NaN
56                 Dominican Republic      95627.0        1765.0          NaN
57                            Ecuador     115457.0        6619.0     258266.0
58                              Egypt      99280.0        5461.0          NaN
59                        El Salvador      25904.0         739.0     310444.0
60                  Equatorial Guinea       4965.0          83.0          NaN
61                            Eritrea        319.0           0.0          NaN
62                            Estonia       2415.0          64.0     151940.0
63                           Ethiopia      54409.0         846.0     869430.0
64                     Faeroe Islands        411.0           0.0          NaN
65                   Falkland Islands         13.0           0.0          NaN
66                               Fiji         29.0           2.0       8408.0
67                            Finland       8161.0         336.0     688714.0
68                             France     293024.0       30686.0          NaN
69                   French Polynesia        596.0           0.0          NaN
70                              Gabon       8538.0          53.0          NaN
71                             Gambia       3067.0          97.0          NaN
72                            Georgia       1548.0          19.0          NaN
73                            Germany     246116.0        9321.0   11208091.0
74                              Ghana      44658.0         276.0     442185.0
75                          Gibraltar        295.0           0.0          NaN
76                             Greece      10757.0         273.0     966346.0
77                          Greenland         14.0           0.0          NaN
78                            Grenada         24.0           0.0          NaN
79                               Guam       1447.0          13.0          NaN
80                          Guatemala      75664.0        2790.0          NaN
81                           Guernsey        252.0          13.0          NaN
82                             Guinea       9479.0          59.0          NaN
83                      Guinea-Bissau       2205.0          34.0          NaN
84                             Guyana       1382.0          41.0          NaN
85                              Haiti       8258.0         206.0          NaN
86                           Honduras      62526.0        1924.0          NaN
87                          Hong Kong          NaN           NaN     780410.0
88                            Hungary       6622.0         619.0     437531.0
89                            Iceland       2121.0          10.0      88829.0
90                              India    3853406.0       67376.0   44337201.0
91                          Indonesia     180646.0        7616.0    1312477.0
92                      International        705.0           7.0          NaN
93                               Iran     378752.0       21797.0    3256122.0
94                               Iraq     242284.0        7201.0    1624331.0
95                            Ireland      29114.0        1777.0     844706.0
96                        Isle of Man        336.0          24.0          NaN
97                             Israel     122539.0         969.0    2353984.0
98                              Italy     271515.0       35497.0    5214766.0
99                            Jamaica       2822.0          27.0          NaN
100                             Japan      69599.0        1319.0    1816394.0
101                            Jersey        381.0          32.0          NaN
102                            Jordan       2161.0          15.0          NaN
103                        Kazakhstan     132354.0        1889.0    2434444.0
104                             Kenya      34493.0         577.0     445722.0
105                            Kosovo      13558.0         523.0          NaN
106                            Kuwait      86478.0         535.0     621616.0
107                        Kyrgyzstan      44135.0        1500.0          NaN
108                              Laos         22.0           0.0          NaN
109                            Latvia       1406.0          34.0     256350.0
110                           Lebanon      18375.0         177.0          NaN
111                           Lesotho       1085.0          31.0          NaN
112                           Liberia       1305.0          82.0          NaN
113                             Libya      15156.0         250.0          NaN
114                     Liechtenstein        108.0           1.0          NaN
115                         Lithuania       2958.0          86.0     648863.0
116                        Luxembourg       7928.0         124.0     385820.0
117                         Macedonia      14455.0         604.0          NaN
118                        Madagascar      15023.0         196.0          NaN
119                            Malawi       5579.0         175.0          NaN
120                          Malaysia       9360.0         128.0    1262848.0
121                          Maldives       8140.0          29.0     113885.0
122                              Mali       2802.0         126.0          NaN
123                             Malta       1931.0          13.0     188539.0
124                        Mauritania       7089.0         160.0          NaN
125                         Mauritius        356.0          10.0          NaN
126                            Mexico     610957.0       65816.0    1271295.0
127                           Moldova      37740.0        1024.0          NaN
128                            Monaco        142.0           1.0          NaN
129                          Mongolia        306.0           0.0          NaN
130                        Montenegro       5019.0         104.0          NaN
131                        Montserrat         13.0           1.0          NaN
132                           Morocco      65453.0        1216.0    1956416.0
133                        Mozambique       4117.0          25.0          NaN
134                           Myanmar       1058.0           6.0     156042.0
135                           Namibia       7844.0          82.0          NaN
136                             Nepal      41649.0         251.0     705560.0
137                       Netherlands      71971.0        6226.0    1464715.0
138                     New Caledonia         23.0           0.0          NaN
139                       New Zealand       1408.0          22.0     777560.0
140                         Nicaragua       4494.0         137.0          NaN
141                             Niger       1177.0          69.0          NaN
142                           Nigeria      54463.0        1027.0     405916.0
143          Northern Mariana Islands         57.0           2.0          NaN
144                            Norway      10871.0         264.0     711225.0
145                              Oman      85928.0         689.0          NaN
146                          Pakistan     297014.0        6328.0    2662508.0
147                         Palestine      31333.0         184.0          NaN
148                            Panama      94084.0        2030.0     336345.0
149                  Papua New Guinea        471.0           5.0          NaN
150                          Paraguay      19138.0         358.0     185921.0
151                              Peru     663437.0       29259.0     584232.0
152                       Philippines     226440.0        3623.0    2403510.0
153                            Poland      68517.0        2078.0    2628272.0
154                          Portugal      58633.0        1827.0    2058544.0
155                       Puerto Rico      34003.0         443.0          NaN
156                             Qatar     119206.0         199.0     634745.0
157                           Romania      89891.0        3721.0    1825272.0
158                            Russia    1005000.0       17414.0   37176827.0
159                            Rwanda       4218.0          17.0     393237.0
160             Saint Kitts and Nevis         17.0           0.0          NaN
161                       Saint Lucia         26.0           0.0          NaN
162  Saint Vincent and the Grenadines         61.0           0.0          NaN
163                        San Marino        735.0          42.0          NaN
164             Sao Tome and Principe        896.0          15.0          NaN
165                      Saudi Arabia     317486.0        3956.0    5160518.0
166                           Senegal      13743.0         287.0     153078.0
167                            Serbia      31581.0         716.0     931037.0
168                        Seychelles        136.0           0.0          NaN
169                      Sierra Leone       2029.0          71.0          NaN
170                         Singapore      56860.0          27.0     805214.0
171         Sint Maarten (Dutch part)        482.0          19.0          NaN
172                          Slovakia       4042.0          33.0     340123.0
173                          Slovenia       2988.0         128.0     160479.0
174                           Somalia       3310.0          98.0          NaN
175                      South Africa     630595.0       14389.0    3705408.0
176                       South Korea      20644.0         329.0    1923547.0
177                       South Sudan       2532.0          47.0          NaN
178                             Spain     479554.0       29194.0    6416533.0
179                         Sri Lanka       3101.0          12.0          NaN
180                             Sudan      13189.0         823.0          NaN
181                          Suriname       4149.0          72.0          NaN
182                         Swaziland       4668.0          94.0          NaN
183                            Sweden      84532.0        5820.0          NaN
184                       Switzerland      42655.0        1726.0    1023203.0
185                             Syria       2898.0         120.0          NaN
186                            Taiwan        489.0           7.0      87646.0
187                        Tajikistan       8654.0          69.0          NaN
188                          Tanzania        509.0          21.0          NaN
189                          Thailand       3427.0          58.0     419970.0
190                             Timor         27.0           0.0          NaN
191                              Togo       1434.0          30.0      54709.0
192               Trinidad and Tobago       1920.0          28.0          NaN
193                           Tunisia       4196.0          81.0     140714.0
194                            Turkey     273301.0        6462.0    7247935.0
195          Turks and Caicos Islands        555.0           4.0          NaN
196                            Uganda       3112.0          32.0     381749.0
197                           Ukraine     125789.0        2656.0    1597707.0
198              United Arab Emirates      71540.0         387.0    7177430.0
199                    United Kingdom     338676.0       41514.0   13447568.0
200                     United States    6114406.0      185744.0   83898416.0
201      United States Virgin Islands       1144.0          15.0          NaN
202                           Uruguay       1626.0          44.0     175080.0
203                        Uzbekistan      42540.0         329.0          NaN
204                           Vatican         12.0           0.0          NaN
205                         Venezuela      48883.0         398.0          NaN
206                           Vietnam       1046.0          35.0     261004.0
207                    Western Sahara        766.0           1.0          NaN
208                             World   26059065.0      863535.0          NaN
209                             Yemen       1976.0         571.0          NaN
210                            Zambia      12415.0         292.0          NaN
211                          Zimbabwe       6638.0         206.0      97272.0

In [99]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [145]:
total_tests_missing = len(covid_data_df[covid_data_df.total_tests.isna() == True])

In [146]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [147]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [154]:
combined_df = countries_df.merge(covid_data_df, on = 'location')

In [155]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

In [156]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [158]:
combined_df['tests_per_million'] = combined_df.total_tests * 1e6 / combined_df.population

In [159]:
combined_df['cases_per_million'] = combined_df.total_cases * 1e6 / combined_df.population

In [160]:
combined_df['deaths_per_million'] = combined_df.total_deaths * 1e6 / combined_df.population

In [161]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

In [162]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [166]:
highest_tests_df = combined_df.sort_values('tests_per_million', ascending = False).head(10)

In [167]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400,77.97,1.200,67293.483,6.655595e+11,71540.0,387.0,7177430.0,725696.635121,7233.276713,39.128852
14,Bahrain,Asia,1701583,77.29,2.000,43290.705,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
115,Luxembourg,Europe,625976,82.25,4.510,94277.965,5.901574e+10,7928.0,124.0,385820.0,616349.508607,12665.022301,198.090662
122,Malta,Europe,441539,82.53,4.485,36513.323,1.612206e+10,1931.0,13.0,188539.0,427004.183096,4373.339614,29.442473
53,Denmark,Europe,5792203,80.90,2.500,46682.515,2.703946e+11,17195.0,626.0,2447911.0,422621.755488,2968.645954,108.076323
96,Israel,Asia,8655541,82.97,2.990,33132.320,2.867782e+11,122539.0,969.0,2353984.0,271962.665303,14157.289533,111.951408
89,Iceland,Europe,341250,82.99,2.910,46482.958,1.586231e+10,2121.0,10.0,88829.0,260304.761905,6215.384615,29.304029
157,Russia,Europe,145934460,72.58,8.050,24765.954,3.614206e+12,1005000.0,17414.0,37176827.0,254750.159763,6886.653091,119.327539
199,United States,North America,331002647,78.86,2.770,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633
10,Australia,Oceania,25499881,83.44,3.840,44648.710,1.138537e+12,25923.0,663.0,6255797.0,245326.517406,1016.592979,26.000121

In [168]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [171]:
highest_cases_df = combined_df.sort_values('cases_per_million', ascending = False).head(10)

In [172]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,Asia,2881060,80.23,1.20,116935.600,3.368985e+11,119206.0,199.0,634745.0,220316.480740,41375.743650,69.071800
14,Bahrain,Asia,1701583,77.29,2.00,43290.705,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
147,Panama,North America,4314768,78.51,2.30,22267.037,9.607710e+10,94084.0,2030.0,336345.0,77952.047480,21805.112117,470.477208
40,Chile,South America,19116209,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
162,San Marino,Europe,33938,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
9,Aruba,North America,106766,76.29,NaN,35973.781,3.840777e+09,2211.0,12.0,NaN,NaN,20708.839893,112.395332
105,Kuwait,Asia,4270563,75.49,2.00,65530.537,2.798523e+11,86478.0,535.0,621616.0,145558.325682,20249.789079,125.276222
150,Peru,South America,32971846,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
27,Brazil,South America,212559409,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
199,United States,North America,331002647,78.86,2.77,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633

In [173]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [175]:
highest_deaths_df = combined_df.sort_values('deaths_per_million', ascending = False).head(10)

In [176]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,Europe,33938,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
150,Peru,South America,32971846,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
18,Belgium,Europe,11589616,81.63,5.64,42658.576,4.943965e+11,85817.0,9898.0,2281853.0,196887.713967,7404.645676,854.040375
3,Andorra,Europe,77265,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
177,Spain,Europe,46754783,83.56,2.97,34272.360,1.602397e+12,479554.0,29194.0,6416533.0,137238.001939,10256.790198,624.406705
198,United Kingdom,Europe,67886004,81.32,2.54,39753.244,2.698689e+12,338676.0,41514.0,13447568.0,198090.434075,4988.892850,611.525168
40,Chile,South America,19116209,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
97,Italy,Europe,60461828,83.51,3.18,35220.084,2.129471e+12,271515.0,35497.0,5214766.0,86248.897403,4490.684602,587.097697
27,Brazil,South America,212559409,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
182,Sweden,Europe,10099270,82.80,2.22,46949.283,4.741535e+11,84532.0,5820.0,NaN,NaN,8370.109919,576.279276

In [177]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [183]:
highest_tests_and_cases = len(highest_tests_df.merge(highest_cases_df))

In [184]:
highest_tests_and_cases

2

In [185]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [188]:
countries_higher_than_10m_df = countries_df[countries_df.population > 1e7]

In [189]:
countries_higher_than_10m_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341,64.83,0.50,1803.987,7.022622e+10
2,Algeria,Africa,43851043,76.88,1.90,13913.839,6.101364e+11
4,Angola,Africa,32866268,61.15,NaN,5819.495,1.912651e+11
7,Argentina,South America,45195777,76.67,5.00,18933.907,8.557326e+11
10,Australia,Oceania,25499881,83.44,3.84,44648.710,1.138537e+12
...,...,...,...,...,...,...,...
204,Venezuela,South America,28435943,72.06,0.80,16745.022,4.761605e+11
205,Vietnam,Asia,97338583,75.40,2.60,6171.884,6.007624e+11
207,Yemen,Asia,29825968,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927,61.49,1.70,1899.775,2.823622e+10

In [191]:
lowest_gdp_df = countries_higher_than_10m_df.sort_values('gdp_per_capita').head(20)

In [195]:
lowest_hospital_beds_df = countries_higher_than_10m_df.sort_values('hospital_beds_per_thousand').head(20)

In [198]:
len(lowest_gdp_df.merge(lowest_hospital_beds_df))

14

In [199]:
import jovian

In [200]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Updating notebook "bboomm63/pandas-practice-assignment" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/bboomm63/pandas-practice-assignment

'https://jovian.ai/bboomm63/pandas-practice-assignment'

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2